services:
  gateway:
    build: 
      context: . 
      dockerfile: ../Dockerfile
    ports:
      - "9000:9000"
    environment:
      - "OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318"
  products:
    build: 
      context: ./products 
      dockerfile: Dockerfile
    ports:
      - "8101:8080"
    environment:
      - PORT=8080
  reviews:
    build: 
      context: ./reviews 
      dockerfile: Dockerfile
    ports:
      - "8102:8080"
    environment:
      - PORT=8080
  users:
    build: 
      context: ./users 
      dockerfile: Dockerfile
    ports:
      - "8103:8080"
    environment:
      - PORT=8080
  inventory:
    build:
      context: ./inventory 
      dockerfile: Dockerfile
    ports:
      - "8104:8080"
    environment:
      - PORT=8080
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "4318:4318"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
