services:
  product:
    build: 
      context: ./product 
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
  review:
    build: 
      context: ./review 
      dockerfile: Dockerfile
    ports:
      - "8002:8002"
    environment:
      - PORT=8002
  account:
    build:
      context: ./account 
      dockerfile: Dockerfile
    ports:
      - "8003:8003"
    environment:
      - PORT=8003
  shipping:
    build:
      context: ./shipping
      dockerfile: Dockerfile
    ports:
      - "8004:8004"
    environment:
      - PORT=8004