services:
  products:
    build: 
      context: ./products 
      dockerfile: Dockerfile
    ports:
      - "8101:8080"
    environment:
      - PORT=8080

  reviews:
    build: 
      context: ./reviews 
      dockerfile: Dockerfile
    ports:
      - "8102:8080"
    environment:
      - PORT=8080

  users:
    build: 
      context: ./users 
      dockerfile: Dockerfile
    ports:
      - "8103:8080"
    environment:
      - PORT=8080

  inventory:
    build:
      context: ./inventory 
      dockerfile: Dockerfile
    ports:
      - "8104:8080"
    environment:
      - PORT=8080

  apollo-router:
    image: ghcr.io/apollographql/router:v1.52.0
    ports:
      - "9001:4000"
    volumes:
      - ./apollo:/apollo
    command: -s /apollo/supergraph.graphql -c /apollo/router.yaml --listen 0.0.0.0:4000
    depends_on:
      - products
      - reviews
      - users
      - inventory
