services:
  customers:
    build: 
      context: ./customers 
      dockerfile: Dockerfile
    ports:
      - "8201:8080"
    environment:
      - PORT=8080

  accounts:
    build: 
      context: ./accounts 
      dockerfile: Dockerfile
    ports:
      - "8202:8080"
    environment:
      - PORT=8080

  transactions:
    build: 
      context: ./transactions 
      dockerfile: Dockerfile
    ports:
      - "8203:8080"
    environment:
      - PORT=8080

  apollo-router:
    image: ghcr.io/apollographql/router:v1.52.0
    ports:
      - "9002:4000"
    volumes:
      - ./apollo:/apollo
    command: -s /apollo/supergraph.graphql -c /apollo/router.yaml --listen 0.0.0.0:4000
    depends_on:
      - customers
      - accounts
      - transactions
